{% set block = (content) %}

{% if block.visible == 1 %}
<!-- Hero Section
============================================= -->
<section
    id="slider" class="slider-element dark justify-content-start">

    <!-- Hero Text
    ============================================= -->
    <div class="container z-1">
        <div class="row align-items-start justify-content-center justify-content-xl-start py-6">
            <div class="col-xl-6 col-lg-9 col-md-10 mt-xl-4 text-center text-xl-start">
                <p class="op-07 text-white mb-3 text-uppercase ls2 text-smaller">{{ block.title }}</p>
                {# <h1 class="display-4 mb-5 text-white fw-medium">A Home Is Not A Home Without
                    <span class="svg-underline nocolor">Furniture</span>
                </h1> #}
                <h1 class="display-4 mb-5 text-white fw-medium">{{ block.subtitle }}
                    <span class="svg-underline nocolor">{{ block.underline }}</span>
                </h1>
                {% if block.button_title is not empty %}
                    <a href="{{ block.button_link }}" class="button button-large button-white button-light h-op-09 color m-0 fw-normal color px-4">
                        <i style="position: relative; top: -2px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--themecolor)" viewbox="0 0 256 256">
                                <rect width="256" height="256" fill="none"></rect>
                                <rect x="32" y="48" width="192" height="160" rx="8" opacity="0.2"></rect>
                                <rect x="32" y="48" width="192" height="160" rx="8" stroke-width="16" stroke="var(--themecolor)" stroke-linecap="round" stroke-linejoin="round" fill="none"></rect>
                                <path d="M168,88a40,40,0,0,1-80,0" fill="none" stroke="var(--themecolor)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
                            </svg>
                        </i>
                        {{ block.button_title }}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Hero line in Responsive
    ============================================= -->
    <div class="line d-block d-xl-none my-0"></div>

    <!-- Hero Image
    ============================================= -->
    <div class="hero-image">
        <img src="{{ block.image_bk|thumbnail(1200, 796, fit='crop') }}" alt="{{ block.image_bk.alt|default() }}">
    </div>

</section>
{% endif %}