<!DOCTYPE html>
<html dir="ltr" lang="{{ htmllang() }}">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="author" content="SemiColonWeb"/>

        <!-- Stylesheets ============================================= -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Zilla+Slab:wght@400;500&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('assets/style.css') }}" type="text/css"/>

        <link rel="stylesheet" href="{{ asset('assets/css/dark.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('assets/css/font-icons.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}" type="text/css"/>

        <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <!-- Furniture Demo Specific Theme Stylesheet - #193532 -->
        <link rel="stylesheet" href="{{ asset('assets/css/colors.php?color=193532') }}" type="text/css"/>

        <!-- Furniture Demo Specific Stylesheet -->
        <link rel="stylesheet" href="{{ asset('assets/demos/furniture/furniture.css') }}" type="text/css"/>
        <!-- Furniture Custom Css -->
        <link rel="stylesheet" href="{{ asset('assets/demos/furniture/css/fonts.css') }}" type="text/css"/>
        <!-- Furniture Custom Fonts -->
        <!-- / -->

        <!-- Document Title ============================================= -->
        <title>
        {%- if record|default and record.title -%}
        {{- record.title|capitalize ~ ' | ' -}}
        {%- endif -%}
        {{- config.get('general/sitename') -}}
        {%- if record|default == null and config.has('general/payoff') -%}
        {{- ' | ' ~ config.get('general/payoff') -}}
        {%- endif -%}
        </title>

    </head>

        <body class="stretched"> 
        
        {# {% include 'partials/_cart_side_panel.twig' %} #}

        <!-- Document Wrapper
        ============================================= -->
        <div id="wrapper" class="clearfix">

            {% include 'partials/_top_bar.twig' %}

            {% include 'partials/_header.twig' %}
            
            {% block main %}
            {% endblock main %}

            {% include 'partials/_footer.twig' %}

        </div>
        <!-- #wrapper end -->

        <!-- Go To Top
        ============================================= -->
        <div id="gotoTop" class="bg-color op-07 h-op-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFF" viewbox="0 0 256 256">
                <rect width="256" height="256" fill="none"></rect>
                <polygon points="48 208 128 128 208 208 48 208" opacity="0.2"></polygon>
                <polygon points="48 208 128 128 208 208 48 208" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polygon>
                <polyline points="48 128 128 48 208 128" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
            </svg>
        </div>

        <!-- JavaScripts
        ============================================= -->
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/plugins.min.js') }}"></script>

        <!-- Footer Scripts
        ============================================= -->
        <script src="{{ asset('assets/js/functions.js') }}"></script>

    </body>
</html>
