{% set block = (content) %}
{% setcontent products = 'productos' limit 3 latest returnmultiple %}

{% if block.visible == 1 %}
<!-- 3. Section new Arrivals
============================================= -->
<div class="section custom-bg mt-3 mb-0" style="--custom-bg: #F3F3ED; padding: 100px 0;">
    <div
        class="container">

        <!-- Shop
        ============================================= -->
        <div
            id="shop" class="shop row gutter-30 col-mb-30 mt-3">

            <!-- Title -->
            <div class="col-xl-3 col-lg-6">
                <h3 class="mb-4 fw-normal h1">{{ block.title }}
                    <span data-animate="svg-underline-animated" class="svg-underline nocolor">
                        <span>{{ block.subtitle }}</span>
                    </span>
                </h3>
                <p class="op-07 mb-4">{{ block.description }}</p>
                <a href="{{ path('listing', { 'contentTypeSlug': 'productos'} ) }}" class="button button-border py-1 nott ls0 fw-normal button-dark border-width-1 border-color h-bg-color"><i class="icon-line-grid"></i>Mirar Todos</a>
                {# <a href="demo-furniture-products.html" class="button button-border py-1 nott ls0 fw-normal button-dark border-width-1 border-color h-bg-color">Popular</a> #}
            </div>

            {% for product in products %}
            <!-- Product 1 -->
            <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="grid-inner">
                    <div class="product-image">
                        <a href="demo-forum-single.html"><img src="{{ product|image|thumbnail(640, 800, fit='crop') }}" alt="{{ product|image.alt|default() }}"></a>
                        <a href="demo-forum-single.html"><img src="{{ product.image_hover|thumbnail(640, 800, fit='crop') }}" alt="{{ product.image_hover.alt|default() }}"></a>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                <a href="#" class="btn btn-light me-2">
                                    <i class="icon-line-shopping-cart"></i>
                                </a>
                                <a href="demos/furniture/ajax/quick-view.html" class="btn btn-light" data-lightbox="ajax">
                                    <i class="icon-line-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title mb-0">
                            <h4 class="mb-0">
                                <a class="fw-medium" href="demo-forum-single.html">{{ product|title }}</a>
                            </h4>
                        </div>
                        <h5 class="product-price fw-normal">${{ product.price }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}

            {# <!-- Product 2 -->
            <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="grid-inner">
                    <div class="product-image">
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/3.jpg" alt="Celling Lights"></a>
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/3-1.jpg" alt="Celling Lights"></a>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                <a href="#" class="btn btn-light me-2">
                                    <i class="icon-line-shopping-cart"></i>
                                </a>
                                <a href="demos/furniture/ajax/quick-view.html" class="btn btn-light" data-lightbox="ajax">
                                    <i class="icon-line-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title mb-0">
                            <h4 class="mb-0">
                                <a class="fw-medium" href="demo-forum-single.html">Celling Lights</a>
                            </h4>
                        </div>
                        <h5 class="product-price fw-normal">$39.49</h5>
                    </div>
                </div>
            </div>

            <!-- Product 3 -->
            <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="grid-inner">
                    <div class="product-image">
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/4-1.jpg" alt="High Stand Chair"></a>
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/4.jpg" alt="High Stand Chair"></a>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                <a href="#" class="btn btn-light me-2">
                                    <i class="icon-line-shopping-cart"></i>
                                </a>
                                <a href="demos/furniture/ajax/quick-view.html" class="btn btn-light" data-lightbox="ajax">
                                    <i class="icon-line-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title mb-0">
                            <h4 class="mb-0">
                                <a class="fw-medium" href="demo-forum-single.html">High Stand Chair</a>
                            </h4>
                        </div>
                        <h5 class="product-price fw-normal">$24.99</h5>
                    </div>
                </div>
            </div> #}

            {# <!-- Product 4 -->
            <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="grid-inner">
                    <div class="product-image">
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/5.jpg" alt="Dining Sofa with Tea-table"></a>
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/5-1.jpg" alt="Dining Sofa with Tea-table"></a>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                <a href="#" class="btn btn-light me-2">
                                    <i class="icon-line-shopping-cart"></i>
                                </a>
                                <a href="demos/furniture/ajax/quick-view.html" class="btn btn-light" data-lightbox="ajax">
                                    <i class="icon-line-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title mb-0">
                            <h4 class="mb-0">
                                <a class="fw-medium" href="demo-forum-single.html">Dining Sofa with Tea-table</a>
                            </h4>
                        </div>
                        <h5 class="product-price fw-normal">$99.99</h5>
                    </div>
                </div>
            </div>

            <!-- Product 5 -->
            <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="grid-inner">
                    <div class="product-image">
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/6.jpg" alt="Bathroom Cloths Shelves"></a>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                <a href="#" class="btn btn-light me-2">
                                    <i class="icon-line-shopping-cart"></i>
                                </a>
                                <a href="demos/furniture/ajax/quick-view.html" class="btn btn-light" data-lightbox="ajax">
                                    <i class="icon-line-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title mb-0">
                            <h4 class="mb-0">
                                <a class="fw-medium" href="demo-forum-single.html">Bathroom Cloths Shelves</a>
                            </h4>
                        </div>
                        <h5 class="product-price fw-normal">$23</h5>
                    </div>
                </div>
            </div>

            <!-- Product 1 -->
            <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="grid-inner">
                    <div class="product-image">
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/7.jpg" alt="Golden Lamp for Room"></a>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                <a href="#" class="btn btn-light me-2">
                                    <i class="icon-line-shopping-cart"></i>
                                </a>
                                <a href="demos/furniture/ajax/quick-view.html" class="btn btn-light" data-lightbox="ajax">
                                    <i class="icon-line-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title mb-0">
                            <h4 class="mb-0">
                                <a class="fw-medium" href="demo-forum-single.html">Golden Lamp for Room</a>
                            </h4>
                        </div>
                        <h5 class="product-price fw-normal">$12.99</h5>
                    </div>
                </div>
            </div>

            <!-- Product 6 -->
            <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                <div class="grid-inner">
                    <div class="product-image">
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/8.jpg" alt="White Cuddle Chair with Cusions"></a>
                        <a href="demo-forum-single.html"><img src="demos/furniture/images/shop/8-1.jpg" alt="White Cuddle Chair with Cusions"></a>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content align-items-end justify-content-between" data-hover-animate="fadeIn" data-hover-speed="400">
                                <a href="#" class="btn btn-light me-2">
                                    <i class="icon-line-shopping-cart"></i>
                                </a>
                                <a href="demos/furniture/ajax/quick-view.html" class="btn btn-light" data-lightbox="ajax">
                                    <i class="icon-line-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="product-desc">
                        <div class="product-title mb-0">
                            <h4 class="mb-0">
                                <a class="fw-medium" href="demo-forum-single.html">White Cuddle Chair with Cusions</a>
                            </h4>
                        </div>
                        <h5 class="product-price fw-normal">$29.99</h5>
                    </div>
                </div>
            </div> #}

        </div>
        <!-- #shop end -->

    </div>
</div>
<!-- Section End -->
{% endif %}